<div class="row" *ngIf="errorMessage">
    <div class="alert alert-danger">
        <strong>{{errorMessage}}</strong>
    </div>
</div>
<div class="row">

    <label for="">Device</label>

    <input [(ngModel)]="taFieldsFormData.DEVICE_ID" [typeahead]="taGetDevice$" name="DEVICE_ID" id="DEVICE_ID"
        #DEVICE_ID [ngClass]="inputClass(DEVICE_ID)" (typeaheadNoResults)="typeaheadNoResults('DEVICE_ID', $event)"
        (typeaheadLoading)="taIsLoading($event)" typeaheadOptionField="DESCRIPTION" [typeaheadScrollable]="true"
         [typeaheadOptionsInScrollableView]="5" [typeaheadWaitMs]="500"
        (typeaheadOnSelect)="onSelect($event, DEVICE_ID)" class="form-control" autocomplete=“off”>

    <div class="alert alert-danger" *ngIf="mode=='search' && taFieldsTAError.get('title')">
    </div>

    <div class="alert alert-info" *ngIf="mode=='add' && taFieldsTAError.get('gpib_device')">

        Nieuw
    </div>
</div>

<br>
<div class="row">
    <tabset>
        <tab *ngIf="gpib_device" heading="Setup ">
            <!--

            <table class="table table-striped">

                <caption>GPIB Connection Settings</caption>
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Minor</td>
                        <td>{{gpib_device.MINOR}}</td>
                    </tr>
                    <tr>
                        <td>Device Id</td>
                        <td>{{gpib_device.DEVICE_ID}}</td>
                    </tr>
                    <tr>
                        <td>Pad</td>
                        <td>{{gpib_device.PAD}}</td>
                    </tr>
                    <tr>
                        <td>Sad</td>
                        <td>{{gpib_device.SAD}}</td>
                    </tr>
                    <tr>
                        <td>Eos</td>
                        <td>{{gpib_device.EOS_MODE}}</td>
                    </tr>
                    <tr>
                        <td>Timeout</td>
                        <td>{{gpib_device.TIMEOUT}}</td>
                    </tr>
                    <tr>

                        <td>Pad</td>
                        <td>{{gpib_device.PAD}}</td>
                    </tr>
                    <tr>
                        <td>Send EOI</td>
                        <td>{{gpib_device.SEND_EOI}}</td>
                    </tr>
                </tbody>
            </table>
            -->
        </tab>
        <tab *ngIf="gpib_device_functions" heading="Commands">

            <!--

            <table class="table table-striped" [mfData]="gpib_device_functions" #mf="mfDataTable" [mfRowsOnPage]="5">


                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            <mfDefaultSorter by="COMMAND_GROUP">Cmd Grp</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="COMMAND_ID">Cmd Id</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="COMMAND_DESCRIPTION">Description</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="DEVICE_CODE">Code</mfDefaultSorter>
                        </th>

                    </tr>



                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data;let i=index">
                        <td><input type="checkbox" name="chk{{i}}" id="chk{{i}}" #chk value="{{i}}"
                                [checked]="checkboxSel[i]" (click)="checkboxSelect(item, i)"
                                (change)='checkboxChange($event, item )'></td>
                        <td>{{item.COMMAND_GROUP}}</td>
                        <td>{{item.COMMAND_ID}}</td>
                        <td>{{item.COMMAND_DESCRIPTION}}</td>
                        <td>{{item.DEVICE_CODE}}</td>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
            -->
            <div *ngIf="! isInitialised">
                <button class="btn btn-info" (click)="initDevice($event)">
                    Initialise Device </button>
            </div>

            <div *ngIf="isInitialised">
                <label>Data to send</label>
                <input type="text" name="send" id="send" class="form-control" value="Send data to device"
                    [(ngModel)]="data_to_send" placeholder="Sample command F1R1M0T4">
                <button class="btn btn-info" [disabled]="data_to_send.length < 1 || commandInProgress" (click)="sendToDevice($event)">
                    Send to Device </button>

                <div>

                    <label>Read from device </label>
                    <input type="text" name="read" id="read" class="form-control" value="" [(ngModel)]="receivedData"
                        placeholder="">
                    <button class="btn btn-info" (click)="readFromDevice($event)">
                        Read from Device </button>
                </div>

            </div>
        </tab>
        <tab *ngIf="documentation?.length > 0" heading="Documentation">

            <div *ngFor="let d of documentation;let i=index">
                <img *ngIf="d.DOCUMENTATION_TYPE=='IMAGE'" alt="{{d.DOCUMENTATION_DESCRIPTION}}" 
                        src="{{d.URL}}" height="200" width="400">
            </div>

            <div>

            <ul *ngFor="let d of documentation;let i=index">
                    <li *ngIf="d.DOCUMENTATION_TYPE != 'IMAGE'">
                        <a href="{{d.URL}}" target="download">{{d.DOCUMENTATION_DESCRIPTION}}</a>
                    </li>
            </ul>
            </div>

        </tab>
    </tabset>
</div>