/* *****************************************/
/* Classes for colloring the input borders */
/* *****************************************/
.inputNew { border: 1px solid red; }
.inputOptions { border: 1px solid darkblue; }
.inputLiteral { border: 1px solid green; }
.errorFont { font-size: smaller;}

