@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GPIB logger - WEB Version.</p>

    <a href="wsClient.html" target="_blank">wsClient.html (WebSocket debugging in new page)</a>
</div>
