<nav 
class="navbar navbar-default">


  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{websitename}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/devices">Devices</a></li>
      <!--
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
      -->
    </ul>
  </div>
</nav>
{{objArray|json}}
<p *ngFor="let o of objArray">{{o.name}} - {{o.value}}</p>

<h2>Version 1</h2>


<select name="" id="">
  <option *ngFor="let o of objArray" [value]="o.value">{{o.name}}</option>
</select>

<h2>Version 2</h2>
<select name="" id="" ngModel (change)="updateSelectedValue( $event, o)">
  <option *ngFor="let o of objArray" [ngValue]="o">{{o.name}}</option>
</select>


<!--

<select [ngModel]="selectedObject | json" (ngModelChange)="updateSelectedValue($event)">
        <option *ngFor="#o of objArray" [value]="o | json" >{{o.name}}</option>
</select>
-->
<div class="container">
  <router-outlet></router-outlet>
</div>